body {
   font-family: Tahoma, sans-serif;
}

#contextmenu {
	display: none;
	position: absolute;
}

#contextmenu.showing {
	display: inline-block;
}

/*
	View Definitions
*/

.view {
	display: none;
}

.view.view-selected {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	box-sizing: border-box;
}

/*
	Log List
*/

#logList {
   width: 100%;
}

#logList thead {
   background-color: #dddddd;
}

#logListBody tr:nth-child(even) {
   background-color: #eeeeee;
}

#logListBody div {
   font-size: 0.9em;
   line-height: 1.1em;
   max-height: 5.5em;
   overflow-y: auto;
}